@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400);/* font import */
/* basic reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 100%; }

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px; }

.header {
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #F9F9F9; }

.logo {
  text-align: center;
  font-size: 24px; }

.menu {
  padding-top: 20px;
  text-align: center; }
  .menu ul {
    display: flex;
    max-width: 900px;
    margin: 0 auto; }
    .menu ul li {
      flex: 1;
      font-family: llxb;
      font-size: 40px;
      font-weight: 300;
      line-height: 40px; }
      .menu ul li a {
        color: #BBBBBB; }

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  .flex-grid .col {
    flex-basis: 32%; }
    @media (max-width: 1024px) {
      .flex-grid .col {
        flex-basis: 49%; } }
    @media (max-width: 640px) {
      .flex-grid .col {
        flex-basis: 100%; } }

.cover {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  transition: .5s; }
  .cover:after {
    height: 100%;
    width: 100%;
    display: block;
    background-color: black;
    z-index: 10; }

.details {
  padding: 20px 0 30px;
  text-align: center; }
  .details .name {
    padding-bottom: 10px;
    font-size: 24px;
    color: #444444; }
  .details .caption {
    font-size: 12px;
    color: #BBBBBB; }

.project-head {
  padding: 60px 0;
  text-align: center; }
  .project-head .heading {
    font-size: 60px;
    font-weight: 300;
    padding-bottom: 20px;
    color: #444444; }
  .project-head .description {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.4;
    color: #888888; }

.project-image {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.navigate-back {
  text-align: center; }
  .navigate-back a {
    color: rgba(0, 0, 0, 0.5);
    transition: .5s; }
    .navigate-back a:hover {
      color: rgba(0, 0, 0, 0.8); }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIvc3R5bGUvbWFpbi5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/