.about {
	.content {
		margin: 0 auto;
		padding: 25px 0 20px 0;
		max-width: 800px;
		width: 100%;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.2;
		text-align: center;
		color: $content;
	}
}